<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"> 
    <title>公会战地形编辑器</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../css/main.min.css">
	<script src="../../vendors/jquery-3.5.1.min.js"></script>
  <script src="../../vendors/filesaver.js"></script>
	<script src="../../vendors/color-picker.js"></script>
  <script src="../../models/gamedata.js"></script>
  <script src="../../vendors/extension.js"></script>
  <script src="editor.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<![endif]--> 
</head>
<body>
&nbsp;&nbsp;<a href="../../../index.htm"> &lt;&lt;返回 辅助模拟器</a>
<table id="menu" class="menu">
<caption>公会战地形编辑器</caption>
<tr>
  <td class="text" colspan="16"><font color="red">注意：不要使用微信访问本页面.</font>
    因为微信不支持下载文件，请使用PC浏览器或者手机浏览器访问本页面。</td>
</tr>
</table>

<table id="menu" class="menu">
<tr class="title"><td class="title" colspan="16">第一步：地图类型选项</td></tr>
<tr class="headline">
<th>组别</th>
<th colspan="1">
  <select id='maptype'>
  <option value="1" selected>王者组</option>
  <option value="2">钻石组</option>
  <option value="3">功能正在开发中...</option>
  </select>
</th>
<th colspan="1">基地位置</th>
<th colspan="1">
  <select id='baseslocation'>
  <option value="left" selected>左侧</option>
  <option value="right">右侧</option>
  </select>
</th>
<th><input id="baseeditor" type="button" value="修改基地名称"/></th>
<th><input id="societies1" type="text" value="" disabled="disabled"></th>
<th><input id="societies2" type="text" value="" disabled="disabled"></th>
<th><input id="societies3" type="text" value="" disabled="disabled"></th>
<th><input id="societies4" type="text" value="" disabled="disabled"></th>
<th colspan="7"></th>
</tr>
</table>

<table id="menu" class="menu">
<tr>
  <td class="title" colspan="16">第二步：导入文件<br/>
    <font size="1">
      如果之前没有导出过地图模版template.json，就不需要点击“选择文件”，只需要直接进入第三步。<br/>
      如果之前导出过地图模版，请点击“选择文件”按钮，然后选择之前保存的template.json文件，并上传文件。上传文件之后，可以对错误的地块分数进行调整。
    </font></td>
</tr>
<tr class="headline">
  <th class="middle">导入地形</th>
  <th><input id="import" type="file" onchange="upload(this)" /></th>
  <th colspan="14"></th>
</tr>
</table>

<table id="menu" class="menu">
<tr><td class="title" colspan="16">第三步：地形编辑选项<br/>
  <font size="1">
    1. 点击"编辑地形"按钮。<br/>
    2. 在下方的地图中先创建湖泊和山等地形。<br/>
    3. 填写特殊地块的分数。<br/>
    <font color="red">（注意：因为功能限制，湖泊和山等地形创建后无法改变，所以需要最后再填写地块分数！）</font><br/>
    小技巧：可以多次导出地形文件，形成备份，出错后可以重新导入，继续编辑地形。<br/>
    4. 点击"完成编辑"按钮，进入第四步。
  </font></td></tr>
<tr class="headline">
<th colspan="1"><input id="mapeditor" type="button" value="编辑地形"/></th>
<th id="lake">湖泊</th>
<th id="hill">山</th>
<th colspan="13" class="blank"></th>
</tr>
</table>

<table id="menu" class="menu">
<tr><td class="title" colspan="16">第四步：导出地形<br/>
  <font size="1">
    目前支持两种数据格式的导出
    1. 导出template.json，这是为了给模拟器计算使用的数据，可以在首页进行导入。可以点击"导出JSON"按钮。<br/>
    2. 导出map.xls，这个文件可以使用Excel或者WPS表格打开，稍微编辑就可以复制到算分表格中。可以点击"导出Excel地图"按钮。<br/>
  </font></td></tr>
<tr class="headline">
  <th class="middle">导出模拟器数据</th>
  <th><input id="export" type="button" value="导出JSON"/></th>
  <th class="middle">导出算分地图</th>
  <th><input id="exportcsv" type="button" value="导出Excel地图"/></th-->
  <th colspan="12" class="blank"></th>
</tr>
</table>
<div id="tplleft" class="seedleft">
<table id="template" class="plist">
</table>
</div>
<div id="stub"></div>
</body>
</html>

